src/test/resources/html_5.xsd

<?xml version='1.0' encoding='utf-8' ?>
<xsd:schema xmlns='http://schemas.microsoft.com/intellisense/html-5'
			xmlns:xsd='http://www.w3.org/2001/XMLSchema'
			version="1.0"
			targetNamespace='http://schemas.microsoft.com/intellisense/html-5'
			xmlns:vs='http://schemas.microsoft.com/Visual-Studio-Intellisense'
			vs:clientom="w3c-dom1.tlb"
			vs:ishtmlschema="true"
			vs:isserverschema="false"
			vs:htmlflavor="5.0"
			vs:cssschema="CSS 2.1"
			vs:SuccinctFriendlyName="HTML 5">
	<!--
	 Warning:																					
	 Warning: 
	 Warning: Do not change the targetNamespace above 
	 Warning: 
	 Warning: 
-->

	<xsd:annotation>
		<xsd:documentation>
			Microsoft Visual Studio schema for HTML 5
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="I18Languages.xsd" />

	<xsd:attributeGroup name="coreServerAttributeGroup" vs:nonbrowseable="true">
		<!-- Attributes -->
		<xsd:attribute name="EnableTheming" type="xsd:boolean" vs:nonbrowseable="true" vs:category="ASP.NET" vs:disallowedonmobilepages="true" default="true" vs:serverattribute="true" />
		<xsd:attribute name="EnableViewState" type="xsd:boolean" vs:category="ASP.NET" default="true" vs:serverattribute="true" />
		<xsd:attribute name="SkinID" type="xsd:string" vs:nonbrowseable="true" vs:category="ASP.NET" vs:nonfilterable="true" vs:disallowedonmobilepages="true" default="" vs:serverattribute="true" />
		<xsd:attribute name="Visible" type="xsd:boolean" vs:category="ASP.NET" default="true" vs:serverattribute="true" />
		<!-- Events -->
		<xsd:attribute name="OnDataBinding" vs:omtype="event" vs:category="ASP.NET" vs:nonfilterable="true" vs:serverattribute="true" />
		<xsd:attribute name="OnDisposed" vs:omtype="event" vs:category="ASP.NET" vs:nonfilterable="true" vs:serverattribute="true" />
		<xsd:attribute name="OnInit" vs:omtype="event" vs:category="ASP.NET" vs:nonfilterable="true" vs:serverattribute="true" />
		<xsd:attribute name="OnLoad" vs:omtype="event" vs:category="ASP.NET" vs:nonfilterable="true" vs:serverattribute="true" />
		<xsd:attribute name="OnPreRender" vs:omtype="event" vs:category="ASP.NET" vs:nonfilterable="true" vs:serverattribute="true" />
		<xsd:attribute name="OnUnload" vs:omtype="event" vs:category="ASP.NET" vs:nonfilterable="true" vs:serverattribute="true" />
	</xsd:attributeGroup>

	<xsd:attributeGroup name="aServerAttributeGroup" vs:nonbrowseable="true">
		<xsd:attribute name="OnServerClick" vs:omtype="event" vs:category="ASP.NET" vs:nonfilterable="true" vs:serverattribute="true" />
	</xsd:attributeGroup>

	<xsd:attributeGroup name="buttonServerAttributeGroup" vs:nonbrowseable="true">
		<xsd:attribute name="CausesValidation" type="xsd:boolean" vs:category="ASP.NET" default="true" vs:serverattribute="true" />
		<xsd:attribute name="ValidationGroup" type="xsd:string" vs:category="ASP.NET" default="" vs:serverattribute="true" />
		<xsd:attribute name="OnServerClick" vs:omtype="event" vs:category="ASP.NET" vs:nonfilterable="true" vs:serverattribute="true" />
	</xsd:attributeGroup>

	<xsd:attributeGroup name="formServerAttributeGroup" vs:nonbrowseable="true">
		<xsd:attribute name="DefaultButton" type="xsd:string" vs:category="ASP.NET" default="" vs:serverattribute="true" />
		<xsd:attribute name="DefaultFocus" type="xsd:string" vs:category="ASP.NET" default="" vs:serverattribute="true" />
		<xsd:attribute name="SubmitDisabledControls" type="xsd:boolean" vs:category="ASP.NET" default="false" vs:serverattribute="true" />
	</xsd:attributeGroup>

	<xsd:attributeGroup name="inputServerAttributeGroup" vs:nonbrowseable="true">
		<xsd:attribute name="CausesValidation" type="xsd:boolean" vs:inputtype="button image submit" vs:category="ASP.NET" vs:serverattribute="true" />
		<xsd:attribute name="OnServerClick" vs:omtype="event" vs:inputtype="button image submit" vs:category="ASP.NET" vs:nonfilterable="true" vs:serverattribute="true" />
		<xsd:attribute name="OnServerChange" vs:omtype="event" vs:inputtype="checkbox hidden radio text" vs:category="ASP.NET" vs:nonfilterable="true" vs:serverattribute="true" />
		<xsd:attribute name="ValidationGroup" type="xsd:string" vs:inputtype="button image submit" vs:category="ASP.NET" vs:serverattribute="true" />
	</xsd:attributeGroup>

	<xsd:attributeGroup name="selectServerAttributeGroup" vs:nonbrowseable="true">
		<xsd:attribute name="DataSourceID" type="xsd:string" vs:category="ASP.NET" default="" vs:serverattribute="true" />
		<xsd:attribute name="DataTextField" type="xsd:string" vs:category="ASP.NET" default="" vs:serverattribute="true" />
		<xsd:attribute name="DataValueField" type="xsd:string" vs:category="ASP.NET" default="" vs:serverattribute="true" />
		<xsd:attribute name="OnServerChange" vs:omtype="event" vs:category="ASP.NET" vs:nonfilterable="true" vs:serverattribute="true" />
	</xsd:attributeGroup>

	<xsd:attributeGroup name="textareaServerAttributeGroup" vs:nonbrowseable="true">
		<xsd:attribute name="OnServerChange" vs:omtype="event" vs:category="ASP.NET" vs:nonfilterable="true" vs:serverattribute="true" />
	</xsd:attributeGroup>

	<xsd:attributeGroup name="classAttributeGroup">
		<xsd:attribute name="class" type="xsd:string" />
	</xsd:attributeGroup>

	<xsd:attributeGroup name="coreAttributeGroup" vs:nonbrowseable="true">
		<xsd:attributeGroup ref="classAttributeGroup" />
		<xsd:attribute name="runat" vs:readonly="true" vs:nonfilterable="true" vs:serverattribute="true">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="server" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="accesskey" />
		<xsd:attribute name="contenteditable" vs:standalone="true">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="true" />
					<xsd:enumeration value="false" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="contextmenu" />
		<xsd:attribute name="data-FolderName" />
		<xsd:attribute name="data-MsgId" />
		<xsd:attribute name="dir" default="ltr">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="ltr" />
					<xsd:enumeration value="rtl" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="draggable" vs:standalone="true">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="true" />
					<xsd:enumeration value="false" />
					<xsd:enumeration value="auto" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="id" vs:renametype="classmember" />
		<xsd:attribute name="item" vs:standalone="true" />
		<xsd:attribute name="hidden" vs:standalone="true">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="hidden" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="lang" type="i18LanguageCode" />
		<xsd:attribute name="itemprop" />
		<xsd:attribute name="role" />
		<xsd:attribute name="spellcheck" vs:standalone="true">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="true" />
					<xsd:enumeration value="false" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="style" vs:builder="style" />
		<xsd:attribute name="subject" />
		<xsd:attribute name="tabIndex" />
		<xsd:attribute name="title" />
	</xsd:attributeGroup>

	<xsd:attributeGroup name="commonEventsGroup" vs:nonbrowseable="true">
		<xsd:attribute name="onabort" vs:omtype="event" />
		<xsd:attribute name="onblur" vs:omtype="event" />
		<xsd:attribute name="oncanplay" vs:omtype="event" />
		<xsd:attribute name="oncanplaythrough" vs:omtype="event" />
		<xsd:attribute name="onchange" vs:omtype="event" />
		<xsd:attribute name="onclick" vs:omtype="event" />
		<xsd:attribute name="oncontextmenu" vs:omtype="event" />
		<xsd:attribute name="ondblclick" vs:omtype="event" />
		<xsd:attribute name="ondrag" vs:omtype="event" />
		<xsd:attribute name="ondragenter" vs:omtype="event" />
		<xsd:attribute name="ondragleave" vs:omtype="event" />
		<xsd:attribute name="ondragover" vs:omtype="event" />
		<xsd:attribute name="ondragstart" vs:omtype="event" />
		<xsd:attribute name="ondrop" vs:omtype="event" />
		<xsd:attribute name="ondurationchange" vs:omtype="event" />
		<xsd:attribute name="onemptied" vs:omtype="event" />
		<xsd:attribute name="onended" vs:omtype="event" />
		<xsd:attribute name="onerror" vs:omtype="event" />
		<xsd:attribute name="onfocus" vs:omtype="event" />
		<xsd:attribute name="onformchange" vs:omtype="event" />
		<xsd:attribute name="onforminput" vs:omtype="event" />
		<xsd:attribute name="oninput" vs:omtype="event" />
		<xsd:attribute name="oninvalid" vs:omtype="event" />
		<xsd:attribute name="onkeydown" vs:omtype="event" />
		<xsd:attribute name="onkeypress" vs:omtype="event" />
		<xsd:attribute name="onkeyup" vs:omtype="event" />
		<xsd:attribute name="onload" vs:omtype="event" />
		<xsd:attribute name="onloadeddata" vs:omtype="event" />
		<xsd:attribute name="onloadedmetadata" vs:omtype="event" />
		<xsd:attribute name="onloadstart" vs:omtype="event" />
		<xsd:attribute name="onmousedown" vs:omtype="event" />
		<xsd:attribute name="onmousemove" vs:omtype="event" />
		<xsd:attribute name="onmouseout" vs:omtype="event" />
		<xsd:attribute name="onmouseover" vs:omtype="event" />
		<xsd:attribute name="onmouseup" vs:omtype="event" />
		<xsd:attribute name="onmousewheel" vs:omtype="event" />
		<xsd:attribute name="onpause" vs:omtype="event" />
		<xsd:attribute name="onplay" vs:omtype="event" />
		<xsd:attribute name="onplaying" vs:omtype="event" />
		<xsd:attribute name="onprogress" vs:omtype="event" />
		<xsd:attribute name="onratechange" vs:omtype="event" />
		<xsd:attribute name="onreadystatechange" vs:omtype="event" />
		<xsd:attribute name="onscroll" vs:omtype="event" />
		<xsd:attribute name="onseeked" vs:omtype="event" />
		<xsd:attribute name="onseeking" vs:omtype="event" />
		<xsd:attribute name="onselect" vs:omtype="event" />
		<xsd:attribute name="onshow" vs:omtype="event" />
		<xsd:attribute name="onstalled" vs:omtype="event" />
		<xsd:attribute name="onsubmit" vs:omtype="event" />
		<xsd:attribute name="onsuspend" vs:omtype="event" />
		<xsd:attribute name="ontimeupdate" vs:omtype="event" />
		<xsd:attribute name="onvolumenchange" vs:omtype="event" />
		<xsd:attribute name="onwaiting" vs:omtype="event" />
	</xsd:attributeGroup>

	<xsd:attributeGroup name="commonAttributeGroup" vs:nonbrowseable="true">
		<xsd:attributeGroup ref="coreAttributeGroup" />
		<xsd:attributeGroup ref="commonEventsGroup" />
		<xsd:attributeGroup ref="coreServerAttributeGroup" />
	</xsd:attributeGroup>

	<xsd:group name="metadataContent" vs:nonbrowseable="true">
		<xsd:choice>
			<xsd:element ref="base" />
			<xsd:element ref="command" />
			<xsd:element ref="link" />
			<xsd:element ref="meta" />
			<xsd:element ref="noscript" />
			<xsd:element ref="script" />
			<xsd:element ref="style" />
			<xsd:element ref="title" minOccurs="1" maxOccurs="1" />
		</xsd:choice>
	</xsd:group>

	<xsd:group name="flowContent" vs:nonbrowseable="true">
		<xsd:choice>

			<xsd:element ref="a" />
			<xsd:element ref="abbr" />
			<xsd:element ref="area" vs:requiredascendant="map"/>
			<xsd:element ref="address" />
			<xsd:element ref="article" />
			<xsd:element ref="aside" />
			<xsd:element ref="audio" />

			<xsd:element ref="b" />
			<xsd:element ref="bdo" />
			<xsd:element ref="blockquote" />
			<xsd:element ref="br" />
			<xsd:element ref="button" />

			<xsd:element ref="canvas" />
			<xsd:element ref="cite" />
			<xsd:element ref="code" />
			<xsd:element ref="command" />

			<xsd:element ref="datalist" />
			<xsd:element ref="del" />
			<xsd:element ref="details" />
			<xsd:element ref="dfn" />
			<xsd:element ref="dialog" />
			<xsd:element ref="div" />
			<xsd:element ref="dl" />

			<xsd:element ref="em" />
			<xsd:element ref="embed" />

			<xsd:element ref="fieldset" />
			<xsd:element ref="figure" />
			<xsd:element ref="footer" />
			<xsd:element ref="form" />

			<xsd:element ref="h1" />
			<xsd:element ref="h2" />
			<xsd:element ref="h3" />
			<xsd:element ref="h4" />
			<xsd:element ref="h5" />
			<xsd:element ref="h6" />
			<xsd:element ref="header" />
			<xsd:element ref="hgroup" />
			<xsd:element ref="hr" />

			<xsd:element ref="i" />
			<xsd:element ref="iframe" />
			<xsd:element ref="img" />
			<xsd:element ref="input" />
			<xsd:element ref="ins" />

			<xsd:element ref="kbd" />
			<xsd:element ref="keygen" />

			<xsd:element ref="label" />
			<xsd:element ref="link" vs:requiredattribute="itemprop" />

			<xsd:element ref="map" />
			<xsd:element ref="mark" />
			<xsd:element ref="math" />
			<xsd:element ref="menu" vs:requiredattribute="itemprop" />
			<xsd:element ref="meta" />
			<xsd:element ref="meter" />

			<xsd:element ref="nav" />
			<xsd:element ref="noscript" />

			<xsd:element ref="ol" />
			<xsd:element ref="object" />
			<xsd:element ref="output" />

			<xsd:element ref="p" />
			<xsd:element ref="pre" />
			<xsd:element ref="progress" />

			<xsd:element ref="q" />

			<xsd:element ref="ruby" />

			<xsd:element ref="samp" />
			<xsd:element ref="script" />
			<xsd:element ref="section" />
			<xsd:element ref="select" />
			<xsd:element ref="small" />
			<xsd:element ref="span" />
			<xsd:element ref="strong" />
			<xsd:element ref="style" vs:requiredattribute="scoped" />
			<xsd:element ref="sub" />
			<xsd:element ref="sup" />
			<xsd:element ref="svg" />

			<xsd:element ref="table" />
			<xsd:element ref="textarea" />
			<xsd:element ref="time" />

			<xsd:element ref="ul" />

			<xsd:element ref="var" />
			<xsd:element ref="video" />

		</xsd:choice>
	</xsd:group>

	<xsd:group name="headingContent" vs:nonbrowseable="true">
		<xsd:choice>
			<xsd:element ref="h1" />
			<xsd:element ref="h2" />
			<xsd:element ref="h3" />
			<xsd:element ref="h4" />
			<xsd:element ref="h5" />
			<xsd:element ref="h6" />
			<xsd:element ref="hgroup" />
		</xsd:choice>
	</xsd:group>

	<xsd:group name="sectioningContent" vs:nonbrowseable="true">
		<xsd:choice>
			<xsd:element ref="article" />
			<xsd:element ref="aside" />
			<xsd:element ref="nav" />
			<xsd:element ref="section" />
		</xsd:choice>
	</xsd:group>

	<xsd:group name="phrasingContent" vs:nonbrowseable="true">
		<xsd:choice>
			<xsd:element ref="a" vs:requiredcontent="phrasingContent" />
			<xsd:element ref="abbr" />
			<xsd:element ref="area" vs:requiredascendant="map" />
			<xsd:element ref="audio" />

			<xsd:element ref="b" />
			<xsd:element ref="bdo" />
			<xsd:element ref="br" />
			<xsd:element ref="button" />

			<xsd:element ref="canvas" />
			<xsd:element ref="cite" />
			<xsd:element ref="code" />
			<xsd:element ref="command" />

			<xsd:element ref="datalist" />
			<xsd:element ref="del" vs:requiredcontent="phrasingContent" />
			<xsd:element ref="dfn" />

			<xsd:element ref="em" />
			<xsd:element ref="embed" />

			<xsd:element ref="i" />
			<xsd:element ref="iframe" />
			<xsd:element ref="img" />
			<xsd:element ref="input" />
			<xsd:element ref="ins" vs:requiredcontent="phrasingContent" />

			<xsd:element ref="kbd" />
			<xsd:element ref="keygen" />

			<xsd:element ref="label" />
			<xsd:element ref="link" vs:requiredattribute="itemprop" />

			<xsd:element ref="map" vs:requiredcontent="phrasingContent" />
			<xsd:element ref="mark" />
			<xsd:element ref="math" />
			<xsd:element ref="meta" vs:requiredattribute="itemprop" />
			<xsd:element ref="meter" />

			<xsd:element ref="noscript" />

			<xsd:element ref="object" />
			<xsd:element ref="output" />
			<xsd:element ref="progress" />

			<xsd:element ref="q" />

			<xsd:element ref="ruby" />

			<xsd:element ref="samp" />
			<xsd:element ref="script" />
			<xsd:element ref="select" />
			<xsd:element ref="small" />
			<xsd:element ref="span" />
			<xsd:element ref="strong" />
			<xsd:element ref="sub" />
			<xsd:element ref="sup" />
			<xsd:element ref="svg" />

			<xsd:element ref="textarea" />
			<xsd:element ref="time" />

			<xsd:element ref="var" />
			<xsd:element ref="video" />
		</xsd:choice>
	</xsd:group>

	<xsd:group name="formElements" vs:nonbrowseable="true">
		<xsd:choice>
			<xsd:element ref="button" />
			<xsd:element ref="fieldset" />
			<xsd:element ref="input" />
			<xsd:element ref="keygen" />
			<xsd:element ref="label" />
			<xsd:element ref="object" />
			<xsd:element ref="output" />
			<xsd:element ref="select" />
			<xsd:element ref="textarea" />
		</xsd:choice>
	</xsd:group>

	<xsd:group name="labelElements" vs:nonbrowseable="true">
		<xsd:choice>
			<xsd:element ref="button" />
			<xsd:element ref="input" />
			<xsd:element ref="keygen" />
			<xsd:element ref="select" />
			<xsd:element ref="textarea" />
		</xsd:choice>
	</xsd:group>

	<xsd:group name="interactiveContent" vs:nonbrowseable="true">
		<xsd:choice>
			<xsd:element ref="a" />
			<xsd:element ref="audio" vs:requiredattribute="controls" />
			<xsd:element ref="button" />
			<xsd:element ref="details" />
			<xsd:element ref="embed" />
			<xsd:element ref="iframe" />
			<xsd:element ref="img" vs:requiredattribute="usemap" />
			<xsd:element ref="input" vs:requiredattribute="type!=hidden" />
			<xsd:element ref="keygen" />
			<xsd:element ref="label" />
			<xsd:element ref="menu" vs:requiredattribute="type==toolbar" />
			<xsd:element ref="object" vs:requiredattribute="usemap" />
			<xsd:element ref="select" />
			<xsd:element ref="textarea" />
			<xsd:element ref="video" vs:requiredattribute="controls" />
		</xsd:choice>
	</xsd:group>


	<!-- End of group definitions -->

	<!--================ Document Structure ==================================-->

	<!-- This element must be the first one in the file! -->
	<xs:element name="html">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="body" minOccurs="1" maxOccurs="1" />
				<xs:element ref="head" minOccurs="0" maxOccurs="1" />
			</xs:choice>
			<xs:attributeGroup ref="commonAttributeGroup" />
			<xs:attribute name="manifest" type="xsd:anyURI" />
		</xs:complexType>
	</xs:element>

	<!--================ Document Head =======================================-->

	<xsd:element name="head">
		<xsd:complexType>
			<xsd:choice>
				<xsd:group ref="metadataContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="title">
		<xsd:complexType mixed="true">
			<xsd:attributeGroup ref="commonAttributeGroup" />
		</xsd:complexType>
	</xsd:element>

	<!-- document base URI -->
	<xsd:element name="base">
		<xsd:complexType>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="href" type="xsd:anyURI" vs:preferredextensions=".asp;.aspx;.asmx;.asax;.ashx;.asix;.ascx;.htm;.html;.xml;.xsd;.config;.asa;.css;.shtm;.shtml;.php;.jsp" />
			<xsd:attribute name="target" type="browsingContext" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="link">
		<xsd:complexType>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="href" type="xsd:anyURI" vs:preferredextensions=".asp;.aspx;.asmx;.asax;.ashx;.asix;.ascx;.htm;.html;.xml;.xsd;.config;.asa;.css;.shtm;.shtml;.php;.jsp" />
			<xsd:attribute name="hreflang" type="i18LanguageCode" />
			<xsd:attribute name="rel" type="linkType" />
			<xsd:attribute name="media" type="mediaType" default="screen" />
			<xsd:attribute name="type" type="contentType" vs:readonly="true" />
			<xsd:attribute name="sizes" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="meta">
		<xsd:complexType>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="http-equiv">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="content-language" />
								<xsd:enumeration value="content-type" />
								<xsd:enumeration value="default-style" />
								<xsd:enumeration value="refresh" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string" />
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="name" />
			<xsd:attribute name="content" />
			<xsd:attribute name="charset" />
		</xsd:complexType>
	</xsd:element>

	<!-- style info, which may include CDATA sections -->

	<xsd:element name="style">
		<xsd:complexType mixed="true">
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="type" vs:readonly="true">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="text/css" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string" />
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="media" type="mediaType" default="screen" />
			<xsd:attribute name="scoped" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="scoped" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<!-- script statements, which may include CDATA sections -->

	<xsd:element name="script">
		<xsd:complexType mixed="true">
			<xsd:attributeGroup ref="coreAttributeGroup" />
			<xsd:attribute name="charset" type="xsd:string" />
			<xsd:attribute name="type" vs:readonly="true" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="text/ecmascript" />
						<xsd:enumeration value="text/javascript" />
						<xsd:enumeration value="text/javascript1.0" />
						<xsd:enumeration value="text/javascript1.1" />
						<xsd:enumeration value="text/javascript1.2" />
						<xsd:enumeration value="text/javascript1.3" />
						<xsd:enumeration value="text/javascript1.4" />
						<xsd:enumeration value="text/javascript1.5" />
						<xsd:enumeration value="text/jscript" />
						<xsd:enumeration value="text/x-javascript" />
						<xsd:enumeration value="text/x-ecmascript" />
						<xsd:enumeration value="text/vbscript" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="src" type="xsd:anyURI" />
			<xsd:attribute name="defer" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="defer" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="async" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="async" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<!-- alternate Content container for non script-based rendering -->

	<xsd:element name="noscript">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:group ref="flowContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
		</xsd:complexType>
	</xsd:element>

	<!--=================== Document Body ====================================-->

	<xsd:element name="body">
		<xsd:complexType>
			<xsd:choice>
				<xsd:group ref="flowContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="onafterprint" vs:omtype="event" />
			<xsd:attribute name="onbeforeprint" vs:omtype="event" />
			<xsd:attribute name="onbeforeunload" vs:omtype="event" />
			<xsd:attribute name="onhashchange" vs:omtype="event" />
			<xsd:attribute name="onmessage" vs:omtype="event" />
			<xsd:attribute name="onoffline" vs:omtype="event" />
			<xsd:attribute name="ononline" vs:omtype="event" />
			<xsd:attribute name="onpopstate" vs:omtype="event" />
			<xsd:attribute name="onredo" vs:omtype="event" />
			<xsd:attribute name="onresize" vs:omtype="event" />
			<xsd:attribute name="onstorage" vs:omtype="event" />
			<xsd:attribute name="onundo" vs:omtype="event" />
			<xsd:attribute name="onunload" vs:omtype="event" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="section" type="simpleFlowContentElement" vs:disallowedancestor="address"/>

	<xsd:element name="nav" type="simpleFlowContentElement" vs:disallowedancestor="address"/>

	<xsd:element name="article" vs:disallowedancestor="address">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:group ref="flowContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="Pubdate" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="aside" type="simpleFlowContentElement" vs:disallowedancestor="address"/>

	<xsd:element name="h1" type="simplePhrasingContentElement"/>

	<xsd:element name="h2" type="simplePhrasingContentElement"/>

	<xsd:element name="h3" type="simplePhrasingContentElement"/>

	<xsd:element name="h4" type="simplePhrasingContentElement"/>

	<xsd:element name="h5" type="simplePhrasingContentElement"/>

	<xsd:element name="h6" type="simplePhrasingContentElement"/>

	<xsd:element name="hgroup">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="h1" />
				<xsd:element ref="h2" />
				<xsd:element ref="h3" />
				<xsd:element ref="h4" />
				<xsd:element ref="h5" />
				<xsd:element ref="h6" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="header" vs:disallowedancestor="header footer address" type="simpleFlowContentElement"/>

	<xsd:element name="footer" vs:disallowedancestor="header footer address" type="simpleFlowContentElement"/>

	<xsd:element name="address" vs:disallowedancestor="address" type="simpleFlowContentElement"/>

	<xsd:element name="p" type="simplePhrasingContentElement" vs:implicitclosure="true"/>

	<xsd:element name="br">
		<xsd:complexType>
			<xsd:attributeGroup ref="commonAttributeGroup" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="pre" type="simplePhrasingContentElement"/>

	<xsd:element name="dialog">
		<xsd:complexType>
			<!--
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="dd" />
				<xsd:element ref="dt" />
			</xsd:sequence>
			 -->
			<xsd:choice>
				<xsd:element ref="dd" />
				<xsd:element ref="dt" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="blockquote">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:group ref="flowContent" vs:excludeelements="blockquote" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="cite" type="xsd:anyURI" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ol">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="li" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="start" />
			<xsd:attribute name="reversed" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="reversed" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ul">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="li" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="li" vs:implicitclosure="true">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:group ref="flowContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="value" vs:requiredparent="ol" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="dl">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="dd" />
				<xsd:element ref="dt" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="dt" vs:implicitclosure="true">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:group ref="phrasingContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="dd"  vs:implicitclosure="true">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:group ref="flowContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
		</xsd:complexType>
	</xsd:element>

	<!--================== The Anchor Element ================================-->

	<xsd:element name="a" vs:disallowedancestor="a button" vs:contentmodel="transparent">
		<xsd:complexType mixed="true">
			<!-- Content Model -->
			<xsd:choice>
				<xsd:group ref="flowContent" />
			</xsd:choice>
			<!-- Attributes -->
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="href" type="xsd:anyURI" vs:preferredextensions=".asp;.aspx;.asmx;.asax;.ashx;.asix;.ascx;.htm;.html;.xml;.xsd;.config;.asa;.css;.shtm;.shtml;.php;.jsp" />
			<xsd:attribute name="target" type="browsingContext" vs:requiredattribute="href" />
			<xsd:attribute name="ping" vs:requiredattribute="href" />
			<xsd:attribute name="rel" type="linkType" vs:requiredattribute="href" />
			<xsd:attribute name="media" vs:requiredattribute="href" />
			<xsd:attribute name="hreflang" type="i18LanguageCode" vs:requiredattribute="href" />
			<xsd:attribute name="type" type="simpleContentType" vs:requiredattribute="href" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="em" type="simplePhrasingContentElement"/>

	<xsd:element name="strong" type="simplePhrasingContentElement"/>

	<xsd:element name="small" type="simplePhrasingContentElement"/>

	<xsd:element name="cite" type="simplePhrasingContentElement"/>

	<xsd:element name="q">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:group ref="phrasingContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="cite" type="xsd:anyURI" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="dfn" type="simplePhrasingContentElement" vs:disallowedancestor="dfn"/>

	<xsd:element name="abbr" type="simplePhrasingContentElement"/>

	<xsd:element name="code" type="simplePhrasingContentElement"/>
		
	<xsd:element name="var" type="simplePhrasingContentElement"/>

	<xsd:element name="samp" type="simplePhrasingContentElement"/>

	<xsd:element name="kbd" type="simplePhrasingContentElement"/>

	<xsd:element name="sub" type="simplePhrasingContentElement"/>

	<xsd:element name="sup" type="simplePhrasingContentElement"/>

	<xsd:element name="i" type="simplePhrasingContentElement"/>

	<xsd:element name="b" type="simplePhrasingContentElement"/>

	<xsd:element name="mark" type="simplePhrasingContentElement"/>

	<xsd:element name="progress">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:group ref="phrasingContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="value" type="xsd:float" />
			<xsd:attribute name="max" type="xsd:float" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="meter">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:group ref="phrasingContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="value" type="xsd:float" />
			<xsd:attribute name="min" type="xsd:float" />
			<xsd:attribute name="max" type="xsd:float" />
			<xsd:attribute name="low" type="xsd:float" />
			<xsd:attribute name="high" type="xsd:float" />
			<xsd:attribute name="optimum" type="xsd:float" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="time" vs:contenttype="xsd:dateTime">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:group ref="phrasingContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="datetime" type="xsd:dateTime" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ruby">
		<xsd:complexType mixed="true">
			<!--
			<xsd:sequence minOccurs="1" maxOccurs="unbounded">
					<xsd:group ref="phrasingContent" />
				<xsd:choice>
					<xsd:element ref="rt" minOccurs="1" maxOccurs="1" />
					<xsd:element ref="rp" minOccurs="1" maxOccurs="1" />
				</xsd:choice>
			</xsd:sequence>
			 -->
			<xsd:choice>
				<xsd:group ref="phrasingContent" />
				<xsd:element ref="rt" />
				<xsd:element ref="rp" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="rt" type="simplePhrasingContentElement"/>

	<xsd:element name="rp" type="simplePhrasingContentElement"/>

	<xsd:element name="bdo" type="simplePhrasingContentElement"/>

	<xsd:element name="span" type="simplePhrasingContentElement"/>

	<!--=================== Inserted/Deleted Text ============================-->

	<xsd:element name="ins" vs:contentmodel="transparent">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:group ref="phrasingContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="cite" type="xsd:anyURI" />
			<xsd:attribute name="datetime" type="xsd:dateTime" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="del" vs:contentmodel="transparent">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:group ref="phrasingContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="cite" type="xsd:anyURI" />
			<xsd:attribute name="datetime" type="xsd:dateTime" />
		</xsd:complexType>
	</xsd:element>

	<!--==================== Embedded content ======================================-->

	<xsd:element name="figure" vs:disallowedancestor="legend">
		<xsd:complexType mixed="true">
			<!--
			<xsd:choice minOccurs="1" maxOccurs="1">
				<xsd:sequence minOccurs="1" maxOccurs="1">
					<xsd:element ref="legend" />
					<xsd:group ref="flowContent" />
				</xsd:sequence>
				<xsd:sequence minOccurs="1" maxOccurs="1">
					<xsd:group ref="flowContent" />
					<xsd:element ref="legend" />
				</xsd:sequence>
				<xsd:group ref="flowContent" />
			</xsd:choice>
			 -->
			<xsd:choice>
				<xsd:group ref="flowContent" />
				<xsd:element ref="legend" minOccurs="0" maxOccurs="1" vs:firstchild="true" vs:lastchild="true" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="img">
		<xsd:complexType>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="alt" use="required" />
			<xsd:attribute name="src" type="xsd:anyURI" use="required" vs:preferredextensions=".jpg;.jpeg;.gif;.bmp;.jpe;.png;.dib;.tif;.wmf;.ras;.eps;.pcx;.pcd;.tga;.ashx;.asix" />
			<xsd:attribute name="height" />
			<xsd:attribute name="width" />
			<xsd:attribute name="usemap" type="xsd:anyURI" />
			<xsd:attribute name="ismap" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="ismap" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="iframe" vs:disallowedancestor="button">
		<xsd:complexType mixed="true">
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="name" type="browsingContext" />
			<xsd:attribute name="src" type="xsd:anyURI" vs:preferredextensions=".asp;.aspx;.asmx;.asax;.ashx;.asix;.ascx;.htm;.html;.xml;.xsd;.config;.asa;.css;.shtm;.shtml;.php;.jsp" />
			<xsd:attribute name="height" />
			<xsd:attribute name="width" />
			<xsd:attribute name="sandbox">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="allow-same-origin" />
						<xsd:enumeration value="allow-forms" />
						<xsd:enumeration value="allow-scripts" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="seamless" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="seamless" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="embed" vs:disallowedancestor="button">
		<xsd:complexType>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="src" type="xsd:anyURI" vs:preferredextensions=".asp;.aspx;.asmx;.asax;.ashx;.asix;.ascx;.htm;.html;.xml;.xsd;.config;.asa;.css;.shtm;.shtml;.php;.jsp" />
			<xsd:attribute name="height" />
			<xsd:attribute name="width" />
			<xsd:attribute name="type" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="object" vs:clientom="__object" vs:contentmodel="transparent">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="param" minOccurs="0" maxOccurs="unbounded" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="data" type="xsd:anyURI" />
			<xsd:attribute name="type" />
			<xsd:attribute name="height" />
			<xsd:attribute name="width" />
			<xsd:attribute name="usemap" type="xsd:anyURI" />
			<xsd:attribute name="name" type="browsingContext" />
			<xsd:attribute name="form"  vs:associatedform="true" />
			<xsd:attribute name="classid" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="param">
		<xsd:complexType>
			<xsd:attributeGroup ref="coreAttributeGroup" />
			<xsd:attribute name="name" use="required" />
			<xsd:attribute name="value" use="required" />
		</xsd:complexType>
	</xsd:element>

	<!--=================== Interactive content =======================================-->

	<xsd:element name="details" vs:disallowedancestor="button">
		<xsd:complexType mixed="true">
			<!--
			<xsd:sequence minOccurs="1" maxOccurs="1">
				<xsd:element ref="legend" />
				<xsd:group ref="flowContent" />
			</xsd:sequence>
			 -->
			<xsd:choice>
				<xsd:element ref="legend" minOccurs="1" maxOccurs="1" vs:firstchild="true" />
				<xsd:group ref="flowContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="open" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="open" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="command">
		<xsd:complexType>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="type">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="command" />
						<xsd:enumeration value="checkbox" />
						<xsd:enumeration value="radio" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="label" />
			<xsd:attribute name="icon" />
			<xsd:attribute name="disabled" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="disabled" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="checked" vs:requiredattribute="type=radio|checkbox" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="checked" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="radiogroup" vs:requiredattribute="type=radio" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="menu" vs:disallowedancestor="button">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="li" />
				<xsd:group ref="flowContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="type">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="context" />
						<xsd:enumeration value="toolbar" />
						<xsd:enumeration value="list" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="label" />
		</xsd:complexType>
	</xsd:element>

	<!--=================== Miscellaneous elements =======================================-->

	<xsd:element name="legend">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:group ref="flowContent" vs:requiredparent="figure" />
				<xsd:group ref="phrasingContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="div" type="simpleFlowContentElement"/>

	<!--=================== Interactive content =======================================-->

	<xsd:element name="source">
		<xsd:complexType>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="src" type="xsd:anyURI" />
			<xsd:attribute name="type" />
			<xsd:attribute name="media" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="audio" vs:contentmodel="transparent" vs:disallowedancestor="audio video button">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="source" vs:requiredattribute="src" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="src" type="xsd:anyURI" />
			<xsd:attribute name="autobuffer" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="autobuffer" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="autoplay" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="autoplay" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="loop" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="loop" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="controls" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="controls" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="video" vs:contentmodel="transparent" vs:disallowedancestor="audio video button">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="source" vs:requiredattribute="src" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="src" type="xsd:anyURI" />
			<xsd:attribute name="autobuffer" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="autobuffer" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="autoplay" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="autoplay" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="loop" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="loop" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="controls" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="controls" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="width" />
			<xsd:attribute name="height" />
			<xsd:attribute name="poster" />
		</xsd:complexType>
	</xsd:element>

	<!--=================== Horizontal Rule ==================================-->

	<xsd:element name="hr">
		<xsd:complexType>
			<xsd:attributeGroup ref="commonAttributeGroup" />
		</xsd:complexType>
	</xsd:element>


	<!--================ Forms ===============================================-->

	<xsd:element name="form" vs:disallowedancestor="form">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:group ref="flowContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="accept-charset" />
			<xsd:attribute name="action" type="xsd:anyURI" use="required" vs:preferredextensions=".asp;.aspx;.asmx;.asax;.ashx;.asix;.ascx;.htm;.html;.xml;.xsd;.config;.asa;.css;.shtm;.shtml;.php;.jsp"/>
			<xsd:attribute name="autocomplete">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="on" />
						<xsd:enumeration value="off" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="enctype">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="multipart/form-data" />
						<xsd:enumeration value="application/x-www-form-urlencoded" />
						<xsd:enumeration value="text/plain" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="method" default="get">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="get" />
						<xsd:enumeration value="post" />
						<xsd:enumeration value="put" />
						<xsd:enumeration value="delete" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="name" />
			<xsd:attribute name="novalidate" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="novalidate" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="target" type="browsingContext" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="fieldset">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="legend" minOccurs="1" maxOccurs="1" vs:firstchild="true" />
				<xsd:group ref="flowContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="disabled" vs:standalone="true" />
			<xsd:attribute name="form"  vs:associatedform="true" />
			<xsd:attribute name="name" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="label" vs:disallowedancestor="button">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:group ref="phrasingContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="form" vs:associatedform="true" />
			<xsd:attribute name="for" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="input" vs:disallowedancestor="button">
		<xsd:complexType>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="type" vs:readonly="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="button" />
						<xsd:enumeration value="checkbox" />
						<xsd:enumeration value="color" />
						<xsd:enumeration value="date" />
						<xsd:enumeration value="datetime" />
						<xsd:enumeration value="datetime-local" />
						<xsd:enumeration value="email" />
						<xsd:enumeration value="file" />
						<xsd:enumeration value="hidden" />
						<xsd:enumeration value="image" />
						<xsd:enumeration value="month" />
						<xsd:enumeration value="number" />
						<xsd:enumeration value="password" />
						<xsd:enumeration value="radio" />
						<xsd:enumeration value="range" />
						<xsd:enumeration value="reset" />
						<xsd:enumeration value="search" />
						<xsd:enumeration value="submit" />
						<xsd:enumeration value="text" />
						<xsd:enumeration value="tel" />
						<xsd:enumeration value="time" />
						<xsd:enumeration value="url" />
						<xsd:enumeration value="week" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="accept"  vs:inputtype="file" />
			<xsd:attribute name="alt"  vs:inputtype="image" />
			<xsd:attribute name="autocomplete" vs:inputtype="color date datetime datetime-local email month number password range search tel text time url week" />
			<xsd:attribute name="checked" vs:standalone="true" vs:inputtype="checkbox radio">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="checked" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="disabled" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="disabled" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="form" vs:associatedform="true" />
			<xsd:attribute name="formaction" vs:inputtype="submit image" />
			<xsd:attribute name="formenctype" vs:inputtype="submit image">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="multipart/form-data" />
						<xsd:enumeration value="application/x-www-form-urlencoded" />
						<xsd:enumeration value="text/plain" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="formmethod" default="get" vs:inputtype="submit image">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="get" />
						<xsd:enumeration value="post" />
						<xsd:enumeration value="put" />
						<xsd:enumeration value="delete" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="formnovalidate" vs:inputtype="submit image" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="formnovalidate" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="formtarget" type="browsingContext" vs:inputtype="submit image" />
			<xsd:attribute name="height" vs:inputtype="image" />
			<xsd:attribute name="list" vs:inputtype="color date datetime datetime-local email month number range search tel text time url week" />
			<xsd:attribute name="max" vs:inputtype="date datetime datetime-local month number range search time week" />
			<xsd:attribute name="maxlength" vs:inputtype="email password search tel text time url" />
			<xsd:attribute name="min" vs:inputtype="date datetime datetime-local month number range search time week" />
			<xsd:attribute name="multiple" vs:inputtype="email file" />
			<xsd:attribute name="pattern" vs:inputtype="email password search tel text time url" vs:requiredattribute="title" />
			<xsd:attribute name="placeholder" vs:inputtype="email password search tel text time url" />
			<xsd:attribute name="readonly" vs:inputtype="date datetime datetime-local email month number password search tel text time url week" />
			<xsd:attribute name="required" vs:inputtype="checkbox date datetime datetime-local email file month number password radio search tel text time url week" />
			<xsd:attribute name="size" vs:inputtype="email password search tel text time url" />
			<xsd:attribute name="src" type="xsd:anyURI" vs:inputtype="image" />
			<xsd:attribute name="step" vs:inputtype="date datetime datetime-local month number range search time week" />
			<xsd:attribute name="width" vs:inputtype="image" />
			<xsd:attribute name="files" vs:inputtype="file" />
			<xsd:attribute name="value" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="button" vs:disallowedancestor="a button">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:group ref="phrasingContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attributeGroup ref="buttonServerAttributeGroup" />
			<xsd:attribute name="autofocus" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="autofocus" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="disabled" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="autofocus" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="form" vs:associatedform="true" />
			<xsd:attribute name="formaction" vs:inputtype="submit image" />
			<xsd:attribute name="formenctype" vs:inputtype="submit image">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="multipart/form-data" />
						<xsd:enumeration value="application/x-www-form-urlencoded" />
						<xsd:enumeration value="text/plain" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="formmethod" default="get" vs:inputtype="submit image">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="get" />
						<xsd:enumeration value="post" />
						<xsd:enumeration value="put" />
						<xsd:enumeration value="delete" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="formnovalidate" vs:inputtype="submit image" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="formnovalidate" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="formtarget" type="browsingContext" vs:inputtype="submit image" />

			<xsd:attribute name="name" />
			<xsd:attribute name="value" />
			<xsd:attribute name="type" default="submit" vs:readonly="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="button" />
						<xsd:enumeration value="reset" />
						<xsd:enumeration value="submit" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="select" vs:disallowedancestor="a button">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="option" />
				<xsd:element ref="optgroup" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="autofocus" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="autofocus" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="disabled" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="autofocus" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="form" vs:associatedform="true" />
			<xsd:attribute name="multiple" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="multiple" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="name" />
			<xsd:attribute name="size" type="ui4" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="datalist">
		<xsd:complexType>
			<xsd:choice vs:exclusive="true">
				<xsd:element ref="option" />
				<xsd:group ref="phrasingContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="optgroup">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="option" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="disabled" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="disabled" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="label" use="required" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="option" vs:implicitclosure="true">
		<xsd:complexType mixed="true">
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="disabled" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="disabled" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="selected" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="selected" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="label" />
			<xsd:attribute name="value" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="textarea" vs:disallowedancestor="a button">
		<xsd:complexType mixed="true">
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="autofocus" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="autofocus" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="disabled" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="disabled" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="form" vs:associatedform="true" />
			<xsd:attribute name="maxlength" />
			<xsd:attribute name="name" />
			<xsd:attribute name="placeholder"   />
			<xsd:attribute name="readonly" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="readonly" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="required" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="required" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="rows" type="xsd:integer" use="required" />
			<xsd:attribute name="cols" type="xsd:integer" use="required" />
			<xsd:attribute name="wrap">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="hard" vs:requiredattribute="cols" />
						<xsd:enumeration value="soft" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="keygen" vs:disallowedancestor="a button">
		<xsd:complexType mixed="true">
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="autofocus" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="autofocus" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="challenge" />
			<xsd:attribute name="disabled" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="disabled" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="form" vs:associatedform="true" />
			<xsd:attribute name="keytype">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="rsa" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="name" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="output" vs:disallowedancestor="a button">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:group ref="phrasingContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="for" />
			<xsd:attribute name="form" vs:associatedform="true" />
			<xsd:attribute name="name" />
		</xsd:complexType>
	</xsd:element>

	<!--================== Canvas ============================-->

	<xsd:element name="canvas" vs:contentmodel="transparent">
		<xsd:complexType mixed="true">
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="width" />
			<xsd:attribute name="height" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="map" vs:contentmodel="transparent">
		<xsd:complexType>
			<xsd:choice>
				<xsd:group ref="phrasingContent" />
				<xsd:group ref="flowContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="name" use="required" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="area">
		<xsd:complexType>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="Shape" default="rect" >
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="rect" />
						<xsd:enumeration value="circle" />
						<xsd:enumeration value="poly" />
						<xsd:enumeration value="default" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="coords" />
			<xsd:attribute name="href" type="xsd:anyURI" vs:preferredextensions=".asp;.aspx;.asmx;.asax;.ashx;.asix;.ascx;.htm;.html;.xml;.xsd;.config;.asa;.css;.shtm;.shtml;.php;.jsp" />
			<xsd:attribute name="hreflang" type="i18LanguageCode" />
			<xsd:attribute name="alt" use="required" vs:requiredattribute="href" />
			<xsd:attribute name="target" type="browsingContext" />
			<xsd:attribute name="media" />
			<xsd:attribute name="rel" type="linkType" />
			<xsd:attribute name="ping" />
			<xsd:attribute name="type" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="mathml">
		<xsd:complexType>
			<xsd:attributeGroup ref="commonAttributeGroup" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="svg">
		<xsd:complexType>
			<xsd:attributeGroup ref="commonAttributeGroup" />
		</xsd:complexType>
	</xsd:element>

	<!--======================= Tables =======================================-->

	<xsd:element name="table" vs:disallowedancestor="caption">
		<xsd:complexType>
			<!--
				In this order: optionally a caption element, followed by either zero or more colgroup elements, 
				followed optionally by a thead element, followed optionally by a tfoot element, 
				followed by either zero or more tbody elements or one or more tr elements, followed optionally 
				by a tfoot element (but there can only be one tfoot element child in total). 
			-->
			<xsd:choice>
				<xsd:element ref="caption" minOccurs="0" maxOccurs="1" />
				<xsd:element ref="colgroup" />
				<xsd:element ref="thead" minOccurs="0" maxOccurs="1" />
				<xsd:element ref="tfoot" minOccurs="0" maxOccurs="1" />
				<xsd:element ref="tbody" />
				<xsd:element ref="tr" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="summary" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="caption" type="simpleFlowContentElement"/>

	<xsd:element name="colgroup">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="col" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="span" type="xsd:integer" default="1" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="col">
		<xsd:complexType>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="span" type="xsd:integer" default="1" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="thead" vs:implicitclosure="true">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="tr" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="tfoot" vs:implicitclosure="true">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="tr" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="tbody" vs:implicitclosure="true">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="tr" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="tr" vs:implicitclosure="true">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="th" vs:disallowedancestor="tbody tfoot" />
				<xsd:element ref="td" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="th" vs:implicitclosure="true">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:group ref="phrasingContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="headers" />
			<xsd:attribute name="rowspan" default="1" type="positiveInteger" />
			<xsd:attribute name="colspan" default="1" type="positiveInteger" />
			<xsd:attribute name="scope">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="col" />
						<xsd:enumeration value="colgroup" />
						<xsd:enumeration value="row" />
						<xsd:enumeration value="rowgroup" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="td" vs:implicitclosure="true">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:group ref="flowContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="headers" />
			<xsd:attribute name="rowspan" default="1" type="positiveInteger" />
			<xsd:attribute name="colspan" default="1" type="positiveInteger" />
		</xsd:complexType>
	</xsd:element>

	<!-- XDR datatype derivations -->

	<xsd:simpleType name="mediaType">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="screen" />
					<xsd:enumeration value="print" />
					<xsd:enumeration value="tty" />
					<xsd:enumeration value="tv" />
					<xsd:enumeration value="projection" />
					<xsd:enumeration value="handheld" />
					<xsd:enumeration value="braille" />
					<xsd:enumeration value="aural" />
					<xsd:enumeration value="all" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string" />
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>

	<xsd:simpleType name="linkType">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="Alternate" />
					<xsd:enumeration value="Appendix" />
					<xsd:enumeration value="Bookmark" />
					<xsd:enumeration value="Chapter" />
					<xsd:enumeration value="Contents" />
					<xsd:enumeration value="Copyright" />
					<xsd:enumeration value="Glossary" />
					<xsd:enumeration value="Help" />
					<xsd:enumeration value="Index" />
					<xsd:enumeration value="Next" />
					<xsd:enumeration value="Prev" />
					<xsd:enumeration value="Section" />
					<xsd:enumeration value="Start" />
					<xsd:enumeration value="Stylesheet" />
					<xsd:enumeration value="Subsection" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string" />
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>

	<xsd:simpleType name="browsingContext">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="_blank" />
					<xsd:enumeration value="_parent" />
					<xsd:enumeration value="_self" />
					<xsd:enumeration value="_top" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string" />
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>

	<xsd:simpleType name="contentType">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="text/asp" />
					<xsd:enumeration value="text/asa" />
					<xsd:enumeration value="text/css" />
					<xsd:enumeration value="text/html" />
					<xsd:enumeration value="text/javascript" />
					<xsd:enumeration value="text/plain" />
					<xsd:enumeration value="text/scriptlet" />
					<xsd:enumeration value="text/x-component" />
					<xsd:enumeration value="text/x-html-insertion" />
					<xsd:enumeration value="text/xml" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string" />
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>

	<xsd:simpleType name="simpleContentType">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="text/asp" />
					<xsd:enumeration value="text/asa" />
					<xsd:enumeration value="text/html" />
					<xsd:enumeration value="text/plain" />
					<xsd:enumeration value="text/xml" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string" />
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>

	<xsd:complexType mixed="true" name="simpleFlowContentElement">
		<xsd:choice>
			<xsd:group ref="flowContent" />
		</xsd:choice>
		<xsd:attributeGroup ref="commonAttributeGroup" />
	</xsd:complexType>

	<xsd:complexType mixed="true" name="simplePhrasingContentElement">
		<xsd:choice>
			<xsd:group ref="phrasingContent" />
		</xsd:choice>
		<xsd:attributeGroup ref="commonAttributeGroup" />
	</xsd:complexType>

</xsd:schema>

