src/test/resources/issue_27_attributes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://foo" xmlns="http://foo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="A" type="AType"/>
    <xs:complexType name="AType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="AttributeA" type="xs:string" use="optional"/>
                <xs:attribute name="AttributeB" type="xs:string" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>