src/test/resources/issue_27_Includes_C.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://foo" xmlns="http://foo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="C" type="CType"/>
    <xs:complexType name="CType">
        <xs:sequence>
            <xs:element name="D"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>